/*************************footer**********************************/
.piedepagina{
    background-image: linear-gradient(120deg, #fdafc8 ,#fdafc8,#fed6e3);
    font-family: 'Hubballi', cursive;
    .hiperMovimiento{
        list-style-type: none;
        .hipervinculoFoot{
            text-decoration: none; 
            color:rgb(0, 0, 0);
            font-weight: bold;
            font-size: 1rem;
        }      
    }

        .logo1{
            width: 14%;
            
        }   
}



