$flex-direccion-row : row;
$justify-center: center;
$nombre: nombre;
$font-texto:'Great Vibes', cursive;
$font-parrafo:'Hubballi', cursive;
$map-colores:(
    rosa:#FA3875,
    azure:azure,
    shadow-gris: rgba(255, 255, 255, 0.634) 0 2px,
    shadow-rosa: #ff6550 0 2px,
    shadow-negro:black 0 2px,
);